<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="sprint">
      <h2 data-cy="sprintDetailsHeading"><span jhiTranslate="todoApp.sprint.detail.title">Sprint</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">Código</span></dt>
        <dd>
          <span>{{ sprint.id }}</span>
        </dd>
        <dt><span jhiTranslate="todoApp.sprint.number">Number</span></dt>
        <dd>
          <span>{{ sprint.number }}</span>
        </dd>
        <dt><span jhiTranslate="todoApp.sprint.status">Status</span></dt>
        <dd>
          <span jhiTranslate="{{ 'todoApp.SprintStatus.' + sprint.status }}">{{ sprint.status }}</span>
        </dd>
        <dt><span jhiTranslate="todoApp.sprint.project">Project</span></dt>
        <dd>
          <div *ngIf="sprint.project">
            <a [routerLink]="['/project', sprint.project.id, 'view']">{{ sprint.project.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
      </button>

      <button type="button" [routerLink]="['/sprint', sprint.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
